### Pandas

#### pandas 라이브러리는 numpy를 기반으로 만들어졌기 때문에 numpy의 기능을 포함하고 있고, DataFrame(2차원)을 다룰 수 있다는 점에서 우수

In [1]:
import pandas as pd

In [2]:
two_dimensional_list = [['doongwook', 50, 86], ['sineui', 89, 31], ['ikjoong', 68, 91], ['yoonsoo', 88, 75]]

In [9]:
my_df = pd.DataFrame(two_dimensional_list, columns = ['name', 'english_score', 'math_score'], index = ['a', 'b', 'c', 'd'])
my_df

        name  english_score  math_score
a  doongwook             50          86
b     sineui             89          31
c    ikjoong             68          91
d    yoonsoo             88          75

In [5]:
type(my_df)

pandas.core.frame.DataFrame

In [10]:
my_df.columns

Index(['name', 'english_score', 'math_score'], dtype='object')

In [11]:
my_df.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [12]:
my_df.dtypes

name             object
english_score     int64
math_score        int64
dtype: object

#### DataFrame을 만드는 다양한 방법

list of lists, array of arrays, list of series

In [13]:
import numpy as np
import pandas as pd

In [14]:
two_dimensional_list = [['doongwook', 50, 86], ['sineui', 89, 31], ['ikjoong', 68, 91], ['yoonsoo', 88, 75]]

two_dimensional_array = np.array(two_dimensional_list)

list_of_series = [pd.Series(['doongwook', 50, 86]), pd.Series(['sineui', 89, 31]), pd.Series(['ikjoong', 68, 91]), pd.Series(['yoonsoo', 88, 75])]

In [17]:
df1 = pd.DataFrame(two_dimensional_list)
df2 = pd.DataFrame(two_dimensional_array)
df3 = pd.DataFrame(list_of_series)

print(df1)

           0   1   2
0  doongwook  50  86
1     sineui  89  31
2    ikjoong  68  91
3    yoonsoo  88  75

In [18]:
print(df2)

           0   1   2
0  doongwook  50  86
1     sineui  89  31
2    ikjoong  68  91
3    yoonsoo  88  75

In [19]:
print(df3)

           0   1   2
0  doongwook  50  86
1     sineui  89  31
2    ikjoong  68  91
3    yoonsoo  88  75

dict of lists, dict of arrays, dict of series

사전으로 DataFrame을 정의하게 되면, columns 값들 지정이 쉬움

In [20]:
names = ['dongwook', 'sineui', 'ikjoong', 'yoonsoo']
english_scores = [ 50, 89, 68, 88]
math_scores = [86, 31, 91, 75]

In [23]:
dict1 = {'name': names, 'english_score': english_scores, 'math_score': math_scores}

In [28]:
dict2 = {'name': np.array(names), 'english_score': np.array(english_scores), 'math_score': np.array(math_scores)}

In [29]:
dict3 = {'name': pd.Series(names), 'english_score': pd.Series(english_scores), 'math_score': pd.Series(math_scores)}

In [30]:
df1 = pd.DataFrame(dict1)
df2 = pd.DataFrame(dict2)
df3 = pd.DataFrame(dict3)

In [31]:
print(df1)

       name  english_score  math_score
0  dongwook             50          86
1    sineui             89          31
2   ikjoong             68          91
3   yoonsoo             88          75

In [32]:
print(df2)

       name  english_score  math_score
0  dongwook             50          86
1    sineui             89          31
2   ikjoong             68          91
3   yoonsoo             88          75

In [33]:
print(df3)

       name  english_score  math_score
0  dongwook             50          86
1    sineui             89          31
2   ikjoong             68          91
3   yoonsoo             88          75

list of dicts

In [34]:
my_list = [{'name': 'dongwook', 'english_score': 50, 'math_score': 86}, {'name': 'sineui', 'english_score': 89, 'math_score': 31}, {'name': 'ikjoong', 'english_score': 68, 'math_score': 91}, {'name': 'yoonsoo', 'english_score': 88, 'math_score': 75}]

In [35]:
df = pd.DataFrame(my_list)
print(df)

       name  english_score  math_score
0  dongwook             50          86
1    sineui             89          31
2   ikjoong             68          91
3   yoonsoo             88          75

DataFrame에는 다양한 자료형이 들어갈 수 있다.

In [36]:
dtype_list = [['int64', '정수'], ['float64', '소수'], ['object', '텍스트'], ['bool', '불린(참과 거짓)'], ['datetime64', '날짜와 시간'], ['category', '카테고리']]

In [37]:
dtype_df = pd.DataFrame(dtype_list)

dtype_df

            0          1
0       int64         정수
1     float64         소수
2      object        텍스트
3        bool  불린(참과 거짓)
4  datetime64     날짜와 시간
5    category       카테고리

##### pandas로 데이터 읽어들이기

In [46]:
import pandas as pd

In [56]:
iphone_df = pd.read_csv('data/iphone.csv', index_col = 0) #header가 없는 경우, header = None # index_col = 0, 0번째 column을 index로 지정

In [57]:
iphone_df

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes